<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Rubik', sans-serif;
        }

       .header>h1 {
            margin: 0;
            color: #4f46a5; 
        }

        .header>h4{
            margin-top: 10px;
            font-weight: normal;
            font-size: 19px;
            color: rgba(0, 0, 0, 0.4);
        }

        .form {
            width: 40%;
            margin-top: 8%;
            border-right: 2px solid #0097ff;
            border-left: 2px solid #4f46a5;
        }

        .form-text {
            margin-left: -33%;
        }

      
        .form-group {
            width: 90%;
            padding-top: 10px;
        }

        #register {
            padding: 12px 10px;
            border: 0;
            background: -webkit-gradient(linear, left top, right top, from(#de48b5), to(#0097ff));
            background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
            border-radius: 3px;
            margin-top: 10px;
            color: #fff;
            letter-spacing: 1px;
            font-family: 'Rubik', sans-serif;
            width: 90%;
        }
        .to-login{
            color: rgba(0, 0, 0, 0.8);
            float: right;
            margin-right: 7%;
        }
    </style>
</head>

<body>
    <center>
        <div class="form">
            <br>
            <form action="" method="POST">
                <div class="header">
                    <h1>Welcome Back</h1>
                    <h4>Log in to your account using email and password</h5>
                </div><br>
                <%- include('partial/messages') %>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <br>
                <button type="submit" id="register" class="animation ">LOGIN</button>
                <p class="to-login">Have an account? <a class="login" href="/users/register">Register</a></p>
              </form>
            <br><br><br>
        </div>
    </center>
</body>

</html>