<head>
    <meta charset="UTF-8">
    <title>Bootstrap 3 Sidenav</title>
    <link rel="stylesheet" href="/css/createjob.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <div class="two-col-layout" id="two-col-layout">
        <div class="top-navbar">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a class="toggle-sidenav"><i class="fa fa-bars"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li class="fa fa-eye"><a href="#">Profile</a></li>
                                <li class="fa fa-sign-out-alt"><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="sidenav" id="sidenav">
            <div class="sidenav-items">
                <ul id="accordion">
                    <li class="panel">
                        <h3>Jobchase.com</h3>
                        <img src="/img/user-icon.png" alt="user-icon1" class="user-icon"><br><br>
                        <p class="user"><%= user.firstname + " " + user.lastname %></p>
                    </li>
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion" href="/jobs">
                            <i class="fa fa-briefcase" aria-hidden="true"></i> Jobs
                        </a>
                    </li>
                    <li><a href="/createjob"><i class="fa fa-plus"></i> Create Job</a></li>
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion" href="/applicants">
                            <i class="fa fa-users"></i> Applicants
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
                <main>
                    <!--MDB Forms-->
                    <div class="container mt-4">
            

                        <div class="row">
                            
                            <div class="col-md-6 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Form register -->
                                        <form>
                                            <h2 class="text-center font-up font-bold deep-orange-text py-4">Sign up</h2>
                                            <div class="md-form">
                                                <i class="fa fa-user prefix grey-text"></i>
                                                <input type="text" id="orangeForm-name3" class="form-control">
                                                <label for="orangeForm-name3">Your name</label>
                                            </div>
                                            <div class="md-form">
                                                <i class="fa fa-envelope prefix grey-text"></i>
                                                <input type="text" id="orangeForm-email3" class="form-control">
                                                <label for="orangeForm-email3">Your email</label>
                                            </div>
                                            <div class="md-form">
                                                <i class="fa fa-lock prefix grey-text"></i>
                                                <input type="password" id="orangeForm-pass3" class="form-control">
                                                <label for="orangeForm-pass3">Your password</label>
                                            </div>
                                            <div class="text-center">
                                                <button class="btn btn-deep-orange">next<i class="fa fa-angle-double-right pl-2" aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                        <!-- Form register -->
                                    </div>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                    <!-- MDB core JavaScript -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
              
            </body>
        </div>

        <!--jQuery-->
        <!-- Bootstrap JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script src="/js/sidenav.js"></script>

