* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

a {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

#top_nav{
    border-color:  #3282b8;
}

.top-navbar {
    color: #fff;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.container-fluid {
    background-color: #3282b8;
    height: 50px;
    margin: 0;
}

.two-col-layout {
    padding-top: 51.38px;
    padding-left: 250px;
    transition: padding-left 0.5s;
}


.two-col-layout .top-navbar .badge {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: 23px;
    line-height: 10px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

.two-col-layout .sidenav {
    position: fixed;
    top: 51px;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: #0f4c75;
    transition: all 0.5s;
}

.two-col-layout .sidenav .sidenav-items ul {
    list-style: none;
    margin-left: 30px;
    padding: 15px 0;
}

.two-col-layout .sidenav .sidenav-items ul li {
    margin-bottom: 15px;
    background-color: transparent;
}

.two-col-layout .sidenav .sidenav-items ul li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.5s;
}

.two-col-layout .sidenav .sidenav-items ul li a:hover {
    color: white;
}

.two-col-layout .sidenav .sidenav-items ul li #accordion-sub a {
    font-size: 15px;
    font-weight: 500;
}

.toggle-content {
    padding-left: 0;
}

.toggle-content .sidenav {
    width: 0;
    left: -300px;
}

.nav {
    color: #fff;
}

.user-icon {
    width: 120px;
    height: 120px;
    margin-left: 14%;
}

.user {
    margin-left: 30px;
}

.panel {
    color: #fff;
    font-size: 20px;

}

.panel>h3 {
    margin-left: 15px;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

.panel-heading div span {
    margin-left: 5px;
}

.panel-body {
    display: none;
}

#applicants {
    width : 170%;
    margin-left: 15%;
}

#myInput {
    width: 70%;
    font-size: 16px;
    padding: 12px 20px 5px;
    border: 1px solid black;
    margin-bottom: 12px;
    margin-left: 115%;
  }

